// GOOGLE FONTS
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
// VARIABLES
// Colors
// primary colors
$soft_orange: hsl(35, 77%, 62%);
$soft_red: hsl(5, 85%, 63%);
// neutral colors
$off-white: hsl(36, 100%, 99%);
$grayish_blue: hsl(233, 8%, 79%);
$dark_grayish_blue: hsl(236, 13%, 42%);
$very_dark_blue: hsl(240, 100%, 5%);
// Typography
// font-family
$ff: "Inter", sans-serif;
// font-weight
$fw_regular: 400;
$fw_bold: 700;
$fw_extraBold: 800;
// font-size
$fs_paragraph: 1.5rem;
// Breakpoints
$mobile: 640px;
$tablet: 768px;
$xl_tablet: 960px;
$desktop: 1024px;
// RESET
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 62.5% of 16px browser font size is 10px */
}

html,
body {
  width: 100%;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

img {
  display: block;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  &:visited,
  :focus {
    text-decoration: none;
    color: $dark_grayish_blue;
  }
  &:hover {
    color: $soft_red;
  }
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

// STYLES
body {
  font-family: $ff;
  font-size: 1.6rem;
  background-color: $off-white;
  @media screen and (min-width: $desktop) {
    display: grid;
    place-items: center;
  }
}

.grid-container {
  display: grid;
  margin: auto;
  max-width: 34.5rem;
  @media screen and (min-width: $mobile) {
    max-width: 60rem;
  }
  @media screen and (min-width: $xl_tablet) {
    max-width: 90rem;
  }
  @media screen and (min-width: $desktop) {
    max-width: 111rem;
    grid-template-areas:
      "header header header"
      "main main aside"
      "main main aside"
      "secnav secnav secnav";
  }
  grid-column-gap: 3rem;
}

// HEADER
header {
  display: flex;
  align-items: center;
  padding: 3rem 0;
  @media screen and (min-width: $desktop) {
    grid-area: header;
  }
}

.logo {
  width: 4.5rem;
  height: auto;
  @media screen and (min-width: $desktop) {
    width: 6rem;
  }
}

// PRIMARY NAVIGATION
.primary-nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}

// MENU FOR MOBILE VIEWPORTS
.mobile_menu {
  display: none; /* Toggle this on and off in JS */
  width: 26rem;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: $off-white;
  z-index: 99;
  @media screen and (min-width: $desktop) {
    display: block;
    position: relative;
    inset: 0;
    width: 44.4rem;
  }
}

.showMenu {
  display: block; /* Toggle this on and off in JS */
}

.mobile_menu-list {
  padding-top: 14.5rem;
  padding-left: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  @media screen and (min-width: $desktop) {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

.toggleButton {
  @media screen and (min-width: $desktop) {
    display: none;
  }
}

// HAMBURGER BUTTON TOGGLE FOR MOBILE VIEWPORTS
.hamburgerIcon {
  position: relative;
  z-index: 100;
  border: none;
  background: none;
  cursor: pointer;
}

.closeIcon {
  display: none;
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  padding: 2.5rem 2rem 0 0;
}

// MAIN
main {
  @media screen and (min-width: $desktop) {
    grid-area: main;
  }
}

article > picture {
  img {
    margin-bottom: 2rem;
    @media screen and (min-width: $desktop) {
      margin-bottom: 0;
    }
  }
}

article > .flex-container > h1 {
  font-size: clamp(4rem, 2.5vw + 1rem, 8rem);
  line-height: 1;
  font-weight: $fw_extraBold;
  margin-bottom: 2rem;
  width: 90%;
  @media screen and (min-width: $mobile) {
    font-size: 7rem;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 0;
    padding: 2rem 0 0 0;
    width: 100%;
    font-size: 6rem;
  }
}

.content {
  width: 100%;
  @media screen and (min-width: $desktop) {
    padding: 2rem 0 0 2rem;
  }
}

article > .flex-container > .content > p {
  font-size: $fs_paragraph;
  color: $dark_grayish_blue;
  line-height: 1.6;
  margin-bottom: 2.5rem;
  @media screen and (min-width: $mobile) {
    font-size: 2rem;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 4rem;
    font-size: $fs_paragraph;
  }
}

article > .flex-container > .content > a {
  text-transform: uppercase;
  background-color: $soft_red;
  color: $off-white;
  font-weight: $fw_regular;
  font-size: 1.3rem;
  letter-spacing: 0.5rem;
  padding: 1.5rem 2.5rem;
  display: inline-block;
  margin-bottom: 6rem;
  &:hover {
    background-color: $very_dark_blue;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 0;
  }
}

.flex-container {
  @media screen and (min-width: $desktop) {
    display: flex;
  }
}

// ASIDE
aside {
  background-color: $very_dark_blue;
  padding: 2rem 2rem 0 2rem;
  @media screen and (min-width: $desktop) {
    grid-area: aside;
    width: 35rem;
    padding: 4rem 3rem 0 3rem;
  }
}

aside > section > h2 {
  color: $soft_orange;
  font-size: 3.125rem;
  font-weight: $fw_bold;
  letter-spacing: 0.125rem;
  margin-bottom: 3rem;
  @media screen and (min-width: $desktop) {
    font-size: 3.5rem;
    margin-bottom: 4rem;
  }
}

aside > section > hr {
  margin-bottom: 3rem;
  border: none;
  height: 0.045rem;
  background-color: $grayish_blue;
}

aside > section > article > h3 {
  margin-bottom: 1rem;
}

aside > section > article > h3 > a {
  text-decoration: none;
  &:visited,
  :focus {
    text-decoration: none;
    color: $off-white;
  }
  &:hover {
    color: $soft_orange;
  }
}

aside > section > article > p {
  color: $dark_grayish_blue;
  font-size: $fs_paragraph;
  padding-bottom: 3rem;
  line-height: 1.6;
}

// SECONDARY NAVIGATION
.secondary-nav {
  padding: 6rem 0;
  @media screen and (min-width: $desktop) {
    grid-area: secnav;
    padding: 7rem 0 0 0;
  }
}

.secondary-nav > ol {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  @media screen and (min-width: $desktop) {
    flex-direction: row;
  }
}

.secondary-nav > ol > li {
  display: flex;
  justify-content: space-between;
  @media screen and (min-width: $desktop) {
    gap: 2rem;
  }
}

.secondary-nav > ol > li::before {
  content: "";
  background-size: cover;
  display: inline-flex;
  width: 10rem;
  height: 13rem;
  @media screen and (min-width: $desktop) {
    width: 14rem;
    height: auto;
  }
}

// Pseudo-classes & Pseudo-elements combination:
.secondary-nav > ol > li {
  &:nth-child(1):before {
    background-image: url(../assets/images/image-retro-pcs.jpg);
  }
  &:nth-child(2):before {
    background-image: url(../assets/images/image-top-laptops.jpg);
  }
  &:nth-child(3):before {
    background-image: url(../assets/images/image-gaming-growth.jpg);
  }
}

.secondary-nav > ol > li > article {
  width: 22rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  @media screen and (min-width: $mobile) {
    width: 100%;
    padding: 0 0 0 2rem;
  }
  @media screen and (min-width: $desktop) {
    padding: 0;
  }
  h2 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    span {
      color: $grayish_blue;
      font-size: 3rem;
    }
    a {
      color: $very_dark_blue;
      font-size: 1.8rem;
      &:hover {
        color: $soft_red;
      }
    }
  }
  p {
    margin: 0;
    color: $dark_grayish_blue;
    line-height: 1.6;
  }
}

footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  background-color: $off-white;
  width: 100%;
}
